#footer{
    background: #7C9FA5;
    margin-top: 1300px;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
}
.footer h3{
    color:white;
    text-align:start;
    margin-left: 75px;
    
}
.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
}
.footer-content p{
    font-size: 24px;
    color: white;
}
.footer-content ul{
    display: flex;
    justify-content: space-between;
    
}
.footer-content ul li a{
    margin: 1rem;
    font-size: 40px;
    color: white;
}
.footer-content ul li:hover{
    
    transform: scale(1.1);
    transition:  0.3s;
}
.footer-botom p{
    text-align: center;
    color: white;
    margin-bottom: 0px;
}
.linea{
    display: flex;
    margin: auto;
    width: 80%;
    height: 1px;
   
    background-color: white;
}
