footer{
    background: #7C9FA5;
    margin-top: 1200px;
    font-family: 'Dancing Script', cursive;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    padding-top: 60px;
}
.contact-us{
    width: 50%;
    color: aliceblue;
    margin-left: 150px;

}
.bland{
    font-weight: 500;
    font-size: 80px;

}
.brand+p{
    font-weight: 500;
    font-size: 40px;
}
.social-media{
    
    display: flex;
    align-items: flex-end;
    margin-right: 150px;
    
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;

    color: #fff;
}
.social-media-icon:hover{
    background: #fff;
    color: #ffbbd5;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.tomas{
    border-top: #f5dad3 2px solid;
    margin: auto;
}
.tomas h6{

    position: relative;
    color: white;
    top: 36px;
    letter-spacing: 3px;
}