@media screen and (max-width: 1280px) and (min-width: 768px) {
    
   .menu li a{
       font-size: 18px;
       font-weight: 900;
       padding: 5px;
   }
   .menu-items li{
       margin: 1px;
       margin-right: 5px;
   }
    .hamburguer {
        position: block;
        top: 0px;
        
        background-color: rgba(0, 0, 0, 0.472);
        color: rgb(255, 255, 255);
    }
    #btn-oscuro {
        position: block;
        top: 50px;
        left: 1285px;
        color: rgb(0, 0, 0);
        z-index: 1;
    }
    .cont-posts{
        display: flex;
        flex-direction: row;
    }
    .post{
        width: 30%;
    }

    .tarjeta{
        width: 90%;
        right: 300px;
    }

    .wrap{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    /* footer */
    #footer{
        background: #7C9FA5;
        margin-top: 1300px;
        font-family: 'Dancing Script', cursive;
        padding: 10px;
    }
    .footer h3{
        color:white;
        text-align:start;
        margin-left: 95px;
        
    }
    .footer-content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 25px;
    }
    .footer-content p{
        font-size: 18px;
        color: white;
        margin-left: 30px;
    }
    .footer-content ul{
        display: flex;
        justify-content: space-between;
        
    }
    .footer-content ul li a{
        margin: 1rem;
        font-size: 40px;
        color: white;
    }
    .footer-content ul li:hover{
        
        transform: scale(1.1);
        transition:  0.3s;
    }
    .footer-botom p{
        text-align: center;
        color: white;
        margin-bottom: 0px;
    }
    .linea{
        display: flex;
        margin: auto;
        width: 80%;
        height: 1px;
       
        background-color: white;
    }
    
    /* footer */

    
    

} 
/* IPAD  768px */
@media screen and (max-width: 768px) and (min-width: 500px) {
    
    .menu-items {
        visibility: hidden;
    }
    .btn-arriba {
        position: fixed;
        top: 6150px;
        color: white;
    }
    .hamburguer {
        position: block;
        left: 760px;
        top: -10px;
        background-color: rgb(55, 58, 58);
        color: rgb(255, 255, 255);
    }

    #btn-oscuro {
        position: block;
        z-index: 1;
        left: 760px;
        top: 80px;

        color: rgb(255, 255, 255);
    }

    .btn-arriba {
        position: absolute;
        margin-left: 700px;
        
    }
    .titulo{
        margin-top: 5px;
    }
    .cont-posts {
        display: flex;
        flex-direction: column;
        
    }
    .post{
        width: 80%;
        margin-right: 80px;
    }

    .tarjeta {
        border-radius: 16px;
        width: 80%;
        right: 200px;
        
    }

    .wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    /* footer */
    #footer{
        background: #7C9FA5;
        margin-top: 1300px;
        font-family: 'Dancing Script', cursive;
        padding: 10px;
    }
    .footer h3{
        color:white;
        text-align:center;
        margin:auto;
        margin-bottom: 15px;
        
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 25px;
    }
    .footer-content p{
        font-size: 18px;
        color: white;
        margin-left: 30px;
    }
    .footer-content ul{
        display: flex;
        justify-content: space-between;
        
    }
    .footer-content ul li a{
        margin: 1rem;
        font-size: 40px;
        color: white;
    }
    .footer-content ul li:hover{
        
        transform: scale(1.1);
        transition:  0.3s;
    }
    .footer-botom p{
        text-align: center;
        color: white;
        margin-bottom: 0px;
    }
    .linea{
        display: flex;
        margin: auto;
        width: 80%;
        height: 1px;
       
        background-color: white;
    }

    

}

 @media screen and (max-width: 414px) and (min-width: 300px) {
    body{
        width: auto;
    }
    
    .menu-items {
        visibility: hidden;
    }

    .hamburguer {
        position: relative;
        z-index: 1;
        left: 350px;
        top: -50px;
        background-color: rgba(95, 158, 160, 0.472);
        color: black;
    }
    #btn-oscuro {
        position: relative;
        top: -130px;
        left: 290px;
    }
    .btn-arriba {
        position: absolute;
        margin-left: 400px;
        margin-top: 780px;
        opacity: 0.5;
    }


    .logo {
        margin-left: 10px;
    }

    .galeria-titulo h4 {
        font-size: 40px;

    }

    .titulo {
        margin-top: 10px;
    }

    .cont-posts {
        display: flex;
        flex-direction: column;
        
    }
    .post{
        width: 80%;
        margin-right: 30px;
    }

    .tarjeta {
        border-radius: 16px;
        width: 80%;
        
        right: 230px;
    }

    .wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .titulos{
        display: flex;
        text-align: center;
    }
    .titulos  h4{
        font-size: 45px;
        
        margin-top: 210px;
        margin-bottom: -100px;
    }
    /* footer */
    #footer{
        background: #7C9FA5;
        margin-top: 1300px;
        font-family: 'Dancing Script', cursive;
        padding: 10px;
    }
    .footer h3{
        color:white;
        text-align:center;
        margin:auto;
        margin-bottom: 15px;
        margin-top: 15px;
        
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 25px;
    }
    .footer-content p{
        font-size: 18px;
        color: white;
        margin-left: 30px;
    }
    .footer-content ul{
        display: flex;
        justify-content: space-between;
        
    }
    .footer-content ul li a{
        margin: 1rem;
        font-size: 40px;
        color: white;
    }
    .footer-content ul li:hover{
        
        transform: scale(1.1);
        transition:  0.3s;
    }
    .footer-botom p{
        text-align: center;
        color: white;
        margin-bottom: 0px;
    }
    .linea{
        display: flex;
        margin: auto;
        width: 80%;
        height: 1px;
       
        background-color: white;
    }
    

    

}
